<% provide(:title, t(:"category.name") ) %>
<h1><%= t("category.all") %></h1>

<%= will_paginate %>

<ul class="categories">
  <% @categories.each do |category| %>
    <li>
      <h2 class="category-index"> <%= category.name %>
        | <%= link_to "delete", admin_category_path(category.id), method: :delete, data: { confirm: t("user.delete_cf") } %>
      </h2>
      <p><i><%= t "category.description" %> </i> <br> <%= category.description %> </p>
      <%= link_to t("category.start"), category, class: "btn btn-warning btn-lg" %>
    </li>
  <% end %>
</ul>

<%= will_paginate %>
